<style>
    button{
        margin: 5px;
    }

</style>


<h1>Product Details</h1>

<table *ngIf="oneProd" class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Name:</th>
        <th scope="col">Quantity:</th>
        <th scope="col">Price:</th>
        
    </tr>
    </thead>
    <tbody>
        <tr>
        <td>{{ oneProd.name }}</td>
        <td>{{ oneProd.qty }}</td>
        <td>{{ oneProd.price }}</td>
        </tr>
    </tbody>

</table>
<a [routerLink]="['/']"><button type="button" class="btn btn-dark">Back</button></a>
<button class="btn btn-danger" (click)="delete(oneProd._id)">Delete</button>